.addButton {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid green;
    border-style: dashed;
    cursor: pointer;
}

.addButton:hover {
    background-color: green;
    color: white;
    border: 1px solid white;
}

.addButtonIcon {
    font-size: 75px;
    color: green
}

.addButton:hover .addButtonIcon {
    color: white;
}
